Rules for all information inside this code repository. These rules do not apply to user content, but are highly recommended.

1. All information must be factual. If there is a dispute, the information must be removed until it has been confirmed to be factual.

2. No depicting, advocating, or performing violence.