set-draft {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  .announce {
    font-size: 3em;
    font-weight: bold;
  }

  .countdown {
    color: #f00;

    font-size: 4em;
    font-weight: bold;
  }
}