presidential {
  display: flex;

  flex: 1 1 auto;

  height: 100%;

  stage {
    position: fixed;

    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;

    // justify-content: stretch;
    align-items: stretch;

    pasture {
      flex: 1 1 auto;

      max-height: 100%;

      transition: all 0.25s ease-in-out;
    }

    stable {
      flex: 0 1 auto;

      max-height: 0%;

      transition: all 0.25s ease-in-out;
    }

    &.state-pasture {
      pasture { max-height: 100%; }
    }

    &.state-stable {
      stable { max-height: 50%; }
      pasture {  }
    }

    &.state-set-draft {
      set-draft { max-height: 100%; }
      stable {
        max-height: 10em;

        .wrapper {
          .candidate-wrapper {
            .candidates {
              .candidate {
                width: 3em;

                .detail {
                  display: none;
                }
              }
            }
          }
        }
      }
    }

    &.state-invite {

    }

    &.state-pre-game {}

    &.state-countdown {}

    &.state-draft {}
  }

  .view {
    display: flex;
    position: fixed;

    width: 100%;
    height: 100%;

    justify-content: center;

    &.ng-enter,
    &.ng-leave {
      transition: all 0.33s ease-in-out;

      position: absolute;
    }

    &.ng-enter {
      transform: translateX(100%);
    }

    &.ng-leave {
      transform: translateX(0%);
    }

    &.ng-enter.ng-enter-active {
      transform: translateX(0%);
    }

    &.ng-leave.ng-leave-active {
      transform: translateX(-100%);
    }
  }
}