<div ng-if="league.stable.length > 0"
     class="wrapper">
  <div class="header">
    <div class="title">Your League's Stable</div>
    <div ng-click="gotoDraft()"
         class="draft">Set Draft</div>
  </div>
  <div class="candidate-wrapper">
    <div ng-class="'candidates candidates-log-' + getStableLogSize()">
      <div ng-repeat="candidate in league.stable"
           class="candidate">
        <img ng-if="candidate.image"
             src="/assets/images/{{candidate.image}}">
        <div class="detail">
          <span class="name">{{candidate.name.display}}</span>
          <span class="party">{{candidate.party}}</span>
          <span class="total-contributions">{{candidate.totalContributions}}</span>
        </div>
        <div ng-click="select(candidate)"
             class="hover-detector">
        </div>
      </div>
    </div>
  </div>
</div>
