@keyframes notify {
  0% {
    text-shadow: 0px 0px 0px #0f0;
    background-color: #fff;
    color: #000;
  }
  40% {
    text-shadow: 0px 0px 0px #0f0;
    background-color: #fff;
    color: #000;
  }
  45% {
    text-shadow: 0px 0px 20px #0f0;
    background-color: #000;
    color: #0f0;
  }
  55% {
    text-shadow: 0px 0px 20px #0f0;
    background-color: #000;
    color: #0f0;
  }
  60% {
    text-shadow: 0px 0px 0px #0f0;
    background-color: #fff;
    color: #000;
  }
  100% {
    text-shadow: 0px 0px 0px #0f0;
    background-color: #fff;
    color: #000;
  }
}

stable {
  .wrapper {
    .header {
      .words {
        .candidate-count {
          font-size: 0.8em;

          color: #ccc;
        }
      }
      .draft {
        animation: notify 20s infinite ease-in-out;
      }
    }
    .candidate-wrapper {
      .candidates {
        .candidate {

          transition: all 0.33s ease-in-out;

          &.ng-enter, &.ng-leave.ng-leave-active { opacity: 0; transform: scale(0); }
          &.ng-leave, &.ng-enter.ng-enter-active { opacity: 1; transform: scale(1); }
        }
      }
    }
  }
}