<div ng-class="{'scroll-capture': true, 'is-touch': isTouch}">
  <div class="wrapper">
    <div class="inner-wrapper"
         scroll-sync="syncMask($event)">
      <div class="candidates">
        <div ng-repeat="candidate in candidates track by $index"
             ng-class="{'candidate': true, 'tapped': tapped[candidate.fecId]}"
             ng-mouseenter="hover(candidate)"
             ng-mouseleave="unhover(candidate)"
             ng-click="select(candidate)">
          <img delayed-src="'/assets/images/' + (candidate.image || '_who.jpg')">
          <div ng-if="tapped[candidate.fecId]" class="tapped">
            <span>TAPPED</span>
          </div>
          <div ng-if="show[candidate.fecId]" class="overlay">
            <span>{{::candidate.name.display}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="indicator">
    <div class="axis-wrap">
      <div class="axis-label">Candidate&nbsp;Tier</div>
    </div>
    <div class="scale">
      <div class="background">
        <div class="top">$$$</div>
        <div class="bar"> </div>
        <div class="bottom">Who?</div>
      </div>

      <div class="masks">
        <div class="mask mask-top"
             ng-style="{
                        'height': (100 * topMaskHeight) + '%',
                        'top': (100 * topMaskTop) + '%'
                       }"></div>
        <div class="mask mask-bottom"
             ng-style="{
                        'height': (100 * bottomMaskHeight) + '%',
                        'top': (100 * bottomMaskTop) + '%'
                       }"></div>

        <div class="target"
           ng-click="barClick($event)"></div>
      </div>
    </div>
  </div>
</div>