invite {
  .services {
    display: flex;
  }

  .invited {
    .header {
      margin-bottom: 0.1em;
      font-size: 0.9em;
    }

    .invited-friend {
      margin-left: 1em;

      font-size: 0.8em;

      color: #999;
    }
  }
}