<div ng-if="invitedFriends.length > 0" class="invited">
  <div class="header">{{invitedFriends.length}} Invited</div>
  <div ng-repeat="friend in invitedFriends"
       class="invited-friend">
    {{::friend.name}}
  </div>
</div>

<div class="services">
  <div class="service twitter fa fa-twitter"></div>
  <div class="service facebook fa fa-facebook"></div>
  <div class="service email fa fa-envelope"></div>
  <div class="service link fa fa-link"></div>
</div>

<div class="prompt">Invite Your Friends</div>